*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.left-menu{
	display: inline-block;
	width: 200px;
	float: left;
}
.left-menu ul{
	border: 1px solid black;
	border-bottom: none;
}
.left-menu ul li{
	text-align: center;
	list-style: none;
	cursor: pointer;
	height: 40px;
	border-bottom: 1px solid black;
	line-height: 40px;
}
.left-menu ul li a{
	text-decoration: none;
	color : black;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.left-menu ul li a:hover{
	background-color: gray;
	color: white;
}

.container{
	display: inline-block;
	width: calc(100% - 200px);
	height: 100vh;
	float: left;
}
/* 
자식중에 float를 이용한 태그가 있는데 해당 태그의 높이를 포함
하여 부모 태그의 높이를 정하고 싶을 때 
부모태그::after{
	clear: both;
	display: block;
	content: "";
}
를 사용해 주면 된다. 그냥 외우자.
*/
body::after{
	clear: both;
	display: block;
	content: "";
}