div{
	width: 500px;
	height: 500px;
	border: 1px solid black;
	/* 
	위, 아래 마진은 0으로, 좌, 우 마진은 auto로 설정하면
	auto에 의해 상자가 가운데로 간다.
	만약에 화면의 가로 길이가 500px보다 작으면 마진은 생기지 않는다.
	*/
	/* margin: 0 auto; */
	margin:calc(50vh - 251px) calc(50% - 251px);
}